body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30em;
    height: 40em;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 10px 20px;
    border-bottom: 1px solid #e3e2e8;
    margin: 0 30px;
}

.btn {
    text-decoration: none;
    color: inherit;
}

.svg {
    width: 40px;
    height: 40px;
    background-color: #f5f4f9;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
}