body {
    margin: 0;
}

.multi-factor-main {
    background-color: #f3f4f6;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    .multi-factor-main {
        background-color: #1f2937;
    }
}

.mfa-method-list {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
}

.auth-card {
    display: flex;
    flex-direction: column;
    width: 35em;
    padding: 10px 50px 50px 50px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    line-height: 1;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    &:focus:not(.has-errors) {
        border-color: #3b82f6;
    }
}

.button {
    display: inline-block;
    cursor: pointer;
    border: none;
    height: 45px;
    width: 110px;
    border-radius: 7px;
    color: white;
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    background-color: #0070f3;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}

.button:hover {
    background: rgba(0, 118, 255, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.button-danger {
    background-color: #ef4444;
    box-shadow: 0 4px 14px 0 rgb(213 37 37 / 39%);
}

.button-danger:hover {
    background: rgba(220, 38, 38, 0.9);
    box-shadow: 0 4px 14px 0 rgb(213 37 37 / 23%);
}

.text-active {
    color: #4ade80;
}

.text-danger {
    color: #ef4444;
}

.text-gray {
    color: #4B5563;
}

.text-gray:hover {
    color: #1F2937;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-row {
    flex-direction: row;
    gap: 30px;
    padding: 10px 0;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 10px;
}

.justify-between {
    justify-content: space-between;
    margin-top: 1rem;
}

.align-center {
    align-items: center;
}

.section-underline {
    border-bottom: 1px solid #e3e2e8;
    margin-bottom: 20px;
}

.underline-inline-primary {
    text-decoration: underline;
    display: inline;
    color: #1C3D5A;
}

.link {
    text-decoration: none;
    color: inherit;
}

.svg {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.svg-circle {
    background-color: #f5f4f9;
    border-radius: 50%;
    padding: 10px;
}

.margin-top-2 {
    margin-top: 0.5rem;
}

.margin-left-3 {
    margin-left: 0.75rem;
}
